---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const logos = [
  { src: "/images/brands/1.png", alt: "Brand 1", width: 80, height: 80 },
  { src: "/images/brands/2.png", alt: "Brand 2", width: 80, height: 80 },
  { src: "/images/brands/3.png", alt: "Brand 3", width: 80, height: 80 },
  { src: "/images/brands/4.png", alt: "Brand 4", width: 80, height: 80 },
];
---

<Layout title="Welcome to NSUSN">
  <div
    class="relative h-screen flex flex-col items-center justify-between bg-image overflow-clip"
  >
    <main
      class="flex flex-col items-center justify-center h-full text-center p-4"
    >
      <Image
        width="300"
        height="200"
        alt="NSUSN Logo."
        src="/images/logo.svg"
        class={"mt-[50px] mb-[150px] hidden md:block logo"}
      />

      <Image
        width="60"
        height="60"
        alt="NSUSN Logo."
        src="/images/chevron.svg"
        class={"my-[50px] md:hidden"}
      />

      <h2 class="subtext-container">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span
            id="textWrapper"
            class="letters font-oswald text-white font-medium text-center uppercase leading-none tracking-[4px] text-[20px] xl:text-[40px]"
          >
          </span>
        </span>
      </h2>

      <div
        id="heading"
        class="my-4 md:my-8 w-full whitespace-nowrap uppercase font-big-shoulders text-[54px] sm:text-[64px] md:text-[100px] md2:text-[120px] md3:text-[140px] lg:text-[160px] xl:text-[180px] 3xl:text-[220px] leading-none tracking-[12px]"
      >
      </div>

      <h2
        class="font-oswald text-white text-[14px] xl:text-[24px] font-extralight leading-none mb-8 tracking-[4px] md:tracking-[8px]"
      >
        JOIN <span class="font-semibold">NEXT LAUNCHPAD</span> NOW
      </h2>

      <button
        onclick="window.location.href='https\:///tally.so/r/3y6yWx'"
        class="mt-16 md:mt-0
		w-[200px] h-[44px] rounded-[10px]
		transition-colors duration-200 ease-in-out
		border-2 border-primary-yellow md:border-none
		font-roboto font-bold text-sm tracking-wider uppercase
		bg-transparent md:bg-primary-yellow hover:bg-primary-yellow md:hover:bg-white text-white hover:text-primary-black md:text-primary-black"
      >
        Submit Pitch
      </button>
    </main>

    <footer
      class="sticky w-full inset-x-0 bottom-0 flex justify-center items-center bg-primary-yellow gap-x-4 rounded-t-[20px]"
    >
      {
        logos.map((logo) => (
          <Image
            alt={logo.alt}
            src={logo.src}
            width={logo.width}
            height={logo.height}
            class={"object-cover object-center"}
          />
        ))
      }
    </footer>
  </div>
</Layout>

<style>
  .bg-image {
    background-image: url("/images/design.svg");
    background-position: center top 10rem;
    background-repeat: no-repeat;
    background-size: 400px;
  }

  @media screen and (max-width: 768px) {
    .bg-image {
      background-image: none;
    }

    .bg-image:before {
      content: "";
      overflow: clip;
      position: absolute;

      width: 200px;
      height: 100%;

      left: 12%;
      bottom: -40%;
      z-index: -1;

      background-image: url("/images/design.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;

      transform: rotate(-45deg);
    }
  }

  .logo {
    opacity: 0;
  }

  .subtext-container .text-wrapper {
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
    padding-right: 0.05em;
    justify-content: center;
  }

  .subtext-container .line {
    left: 0;
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    transform-origin: 0 50%;
  }

  .subtext-container .line1 {
    top: 0;
    left: 0;
    opacity: 0;
  }

  .subtext-container .letter {
    opacity: 0;
    line-height: 1em;
    display: inline-block;
  }
</style>

<script>
  import gsap from "gsap";
  import SplitType from "split-type";
  import { TextPlugin } from "gsap/TextPlugin";

  gsap.registerPlugin(TextPlugin);

  const logo = document.querySelector(".logo");

  gsap.to(logo, {
    opacity: 1,
    delay: 0.6,
    duration: 1,
    ease: "power1.in",
  });

  const TEXTVARIATIONS = [
    { text: "IF you’re THE disruptive", heading: "ENTREPRENEUR" },
    { text: "IF you’re looking for expert", heading: "GUIDANCE" },
    { text: "IF you’re looking for extensive", heading: "FUNDING" },
  ];

  const heading = document.querySelector("#heading") as HTMLElement;
  const textWrapper = document.querySelector("#textWrapper") as HTMLElement;

  function animateVariation(variation: { text: string; heading: string }) {
    const tl = gsap.timeline();

    textWrapper.textContent = variation.text;
    heading.textContent = variation.heading;

    let splitHeading = SplitType.create(heading as HTMLElement);
    let splitTextWrapper = SplitType.create(textWrapper as HTMLElement);

    const textWrapperWidth = textWrapper.getBoundingClientRect().width;

    splitHeading?.words?.forEach((word) => {
      word.style.background =
        "linear-gradient(90deg, #E40046 30%, #b94e96  100%)";
      word.style["-webkit-background-clip" as any] = "text";
      word.style["-webkit-text-fill-color" as any] = "rgba(228, 0, 70, 0.8)";
    });

    tl.from(".line1", {
      scaleY: 0,
      duration: 0.7,
      stagger: 0.034,
      ease: "power4.out",
    })
      .to(".line1", {
        scaleY: 1,
        delay: 0.1,
        duration: 0.7,
        stagger: 0.034,
        ease: "power4.out",
        x: textWrapperWidth,
      })
      .from(splitTextWrapper.chars, {
        opacity: 0,
        stagger: 0.034,
        delay: -0.775,
        ease: "power4.out",
      })
      .to(splitTextWrapper.chars, {
        delay: 0.6,
        opacity: 1,
        duration: 0.4,
        stagger: 0.034,
        ease: "power4.out",
      })
      .from(splitHeading.chars, {
        delay: 0.2,
        rotateY: -90,
        duration: 0.8,
        stagger: 0.05,
        repeatDelay: 0.2,
        ease: "expo.out",
      })
      .to(".line1", {
        scaleY: 0,
        delay: 0.1,
        duration: 0.7,
        stagger: 0.034,
        ease: "power4.out",
      })
      .to(splitTextWrapper.chars, {
        delay: 0.2,
        opacity: 0,
        ease: "expo.out",
      })
      .to(splitHeading.chars, {
        delay: 0.2,
        opacity: 0,
        ease: "expo.out",
      })
      .to(".line1", {
        x: 0,
        scaleY: 0,
        delay: 0.1,
        duration: 0.7,
        stagger: 0.034,
        ease: "power4.out",
      });

    SplitType.clearData();

    tl.play();

    return tl;
  }

  function runAnimations(index = 0) {
    const timeoutDuration = 7500;

    if (index >= TEXTVARIATIONS.length) {
      index = 0;
    }

    animateVariation(TEXTVARIATIONS[index]);

    const nextIndex = (index + 1) % TEXTVARIATIONS.length;

    setTimeout(() => {
      runAnimations(nextIndex);
    }, timeoutDuration);
  }

  runAnimations();
</script>
